/*
========================================================================================
    ccsmethphase Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
    learn from nf-core and nanome
*/

// Global default params, used in configs
params {
    help                       = false

    // Specify your pipeline's command line flags
    // Input options ===============
    input                      = null // input_sheet.tsv
    protocol                   = null
    outdir                     = "results"
    basecall_bam               = null
    mm2_opts                   = null
    rockfish_model             = "models/rockfish_models/rf-r10.4.1-5kHz-base.pt"

    gpu                        = false
    project_dir                = "${projectDir}"

    enable_conda               = false
    use_singularity            = false
    use_docker                 = false
    docker_name                = "methflow:1.0.0"
    singularity_name           = "/home/xyj/test/methflow1.0.0.sif"
    clair3_docker_name         = "hkubal/clair3:latest"
    clair3_singularity_name    = "docker://docker.1ms.run/hkubal/clair3:latest"

    // Tools options
    modcall_tool               = null
    align_tool                 = null
    DMR_tool                   = null

    // Options: Dorado basecaller
    max_reads                  = null
    read_ids                   = null
    min_qscore                 = null
    kit_name                   = null
    trim                       = null
    min_qscore                 = null
    modified_bases             = null

    // Options: Rockfish inference
    motif                      = null
    idx                        = null
    mapq_filter                = null
    rockfish_window            = null
    unique_aln                 = null

    // Options: Deepsignal3 call_mods
    seq_len                    = null
    signal_len                 = null
    model_type                 = null

    // Options: Minimap2_align
    minimap2_kmer              = null
    minimap2_window            = null
    minimap2_f                 = null
    minimap2_g                 = null
    minimap2_G                 = null
    minimap2_n                 = null
    minimap2_m                 = null
    minimap2_p                 = null
    minimap2_N                 = null
    minimap2_A                 = null
    minimap2_B                 = null

    // Options: winnowmap
    meryl_kmer                 = null
    meryl_filter               = null
    meryl_distinct             = null
    winnowmap_kmer             = null
    winnowmap_window           = null
    winnowmap_f                = null
    winnowmap_g                = null
    winnowmap_G                = null
    winnowmap_n                = null
    winnowmap_m                = null
    winnowmap_p                = null
    winnowmap_A                = null
    winnowmap_B                = null

    // Options: Clair3
    clair3_path                = null
    clar3_model_path           = "models/clair3_models/ont"
    whatshap_path              = "/home/xyj/anaconda3/envs/clair3/bin/whatshap"
    bed_fn                     = null
    vcf_fn                     = null
    ctg_name                   = null
    sample_name                = null
    qual                       = null

    // Options: whatsHap
    phase_sample               = null
    phase_chromosome           = null
    phase_exclude_chromosome   = null
    phase_mapq                 = null
    only_snvs                  = null
    ignore_linked_read         = null
    tag_supplementary          = null
    skip_missing_contigs       = null
    haplotag_sample            = null
    ploidy                     = null

    // Options: modkit
    pileup_region              = null
    filter_threshold           = null
    mod_thresholds             = null
    ignore                     = null
    modkit_motif               = null
    dmr_regions                = null

    // Options: DSS
    DSS_coverage               = null
    min_len                    = null
    min_CG                     = null
    smoothing_span             = null
    smoothing_flag             = null
    equal_disp                 = null
    pval_cutoff                = null
    delta_cutoff               = null
    pct_sig                    = null

    // Options: PoreMeth2
    omega                      = null
    eta                        = null
    fw                         = null
    annotation_type            = null
    annotate_assembly          = null
    statistics_assembly        = null
    betathr                    = null
    entropythr                 = null
    pvaluethr                  = null
    analysis_class             = null
    betacovthr                 = null

}

manifest {
    name            = 'Methflow'
    author          = 'YiJin Xiong'
    homePage        = 'https://github.com/YiJin-Xiong/Methflow'
    description     = 'A bioinformatics analysis pipeline for Methylations (Nanopore) sequencing data.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.4'
    version         = '1.0dev'
}

conda.enabled = true

// // docker {
// //     enabled = true
// // }

// singularity {
//     enabled = true
//     autoMounts = true
//     cacheDir = "~/test"
//     envWhitelist = "SINGULARITY_TMPDIR"
// }

profiles {
    conda {
        params {
            enable_conda = true
        }
    }

    docker {
        params {
            use_docker = true
        }
    }

    singularity {
        params {
            use_singularity  = true
            containerOptions = "--nv"
        }
        process {
            container = "/home/xyj/test/methflow1.0.0.sif"
            containerOptions = params.containerOptions // "--nv"
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "~/test"
            envWhitelist = ['SINGULARITY_TMPDIR']
            // runOptions = "--nv --bind $SINGULARITY_TMPDIR:/tmp"
        }
    }
}
