/*
========================================================================================
    ccsmethphase Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
    learn from nf-core and nanome
*/

// Global default params, used in configs
params {
    help                       = false

    // Specify your pipeline's command line flags
    // Input options ===============
    input                      = null // input_sheet.tsv
    outdir                     = "results"
    basecall_bam               = null
    mm2_opts                   = null
    rockfish_model             = "models/rockfish_models/rf-r10.4.1-5kHz-base.pt"


    // Options: Dorado basecaller
    max_reads                  = null
    read_ids                   = null
    min_qscore                 = null
    kit_name                   = null
    trim                       = null

    // Options: Rockfish inference
    motif                      = null
    idx                        = null
    mapq_filter                = null
    rockfish_window            = null

    // Options: Deepsignal3 call_mods

    // Options: Minimap2_align
    minimap2_kmer              = null
    minimap2_window            = null

    // Options: winnowmap
    meryl_kmer                 = null
    meryl_filter               = null
    meryl_distinct             = null
    winnowmap_kmer             = null
    winnowmap_window           = null

    // Options: Clair3
    clair3_path                = null
    clar3_model_path           = "models/clair3_models/ont"
    whatshap_path              = "/home/xyj/anaconda3/envs/clair3/bin/whatshap"

    // Options: whatsHap
    ignore_linked_read         = null
    tag_supplementary          = null
    haplotag_sample            = null

    // Options: modkit
    region                     = null
    filter_threshold           = null
    mod_thresholds             = null
    ignore                     = null
    modkit_motif               = null
    dmr_regions                = null




}
