/*
========================================================================================
    ccsmethphase Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
    learn from nf-core and nanome
*/

// Global default params, used in configs
params {
    help                       = false

    // Specify your pipeline's command line flags
    // Input options ===============
    input                      = null // input_sheet.tsv
    outdir                     = "results"
    basecall_bam               = null
    mm2_opts                   = null
    rockfish_model             = "models/rockfish_models/rf-r10.4.1-5kHz-base.pt"


    // Options: Dorado basecaller
    max_reads                  = null
    read_ids                   = null
    min_qscore                 = null
    kit_name                   = null
    trim                       = null


}
